<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Completion</title>
  </head>

  <body  style="
            margin: 0 auto;
            background-color: #120D31;
            font-family: 'Trebuchet MS';
            ">
      
<div style = "
            width: 700px;
            height: 820px;
            background-color: rgba(255,255,255,1);
            justify-content: center;
            margin-left: 50px;
            margin-top:50px;
            border-radius: 25px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
        
  

        <h1 style = "
            font-weight: bold;
    	    margin: 0;
            margin-left:33%;
            padding-top:50px;">Congratulations</h1>
            
        <p style = "
            font-size:20px;            
            margin-left:20%;
            font-weight: bold;">You have sucessfully linked your first bank</p>
        
            <br>
                        <br>
      

              <button type="button" 
        onclick="window.open('', '_self', ''); window.close();"
        style = "
            margin-left:265px;
            border-radius: 20px;
        	border: 1px solid #FFFFF;
        	background-color: #120D31;
        	text-decoration: none;
        	margin-top:100px;
        	color: #FFFFFF;
        	font-size: 12px;
        	font-weight: bold;
        	padding: 12px 45px;
        	letter-spacing: 1px;
        	text-transform: uppercase;
              ">Close</button>
        
    <img src="Node/views/img/congrats.png" alt="mobile" style = "
    margin-left:-30px;
    margin-top:60px;
    ">
    
    </div>
</div>

  </body>
</html>