<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Form</title>
  </head>

  <body  style="
            margin: 0 auto;
            background-color: #120D31;
            font-family: 'Trebuchet MS';
            ">
      
<div style = "
            width: 700px;
            height: 820px;
            background-color: rgba(255,255,255,1);
            justify-content: center;
            margin-left: 50px;
            margin-top:50px;
            border-radius: 25px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
        
    <form action="/FinalYearProject/Signintemp" method="POST" >
        <br>
        <div style = "
        background: rgba(255,255,255,1);
        margin-left:125px;
        width:450px;
        border-radius: 15px;
        height:50px;
        color: rgba(255,255,255,1);
        text-align:center;">
            
        <p style ="
        padding-top:15px;
        font-size:18px;"></p>
        
        </div>

        <h1 style = "
        font-weight: bold;
	    margin: 0;
        margin-left:42%;
        padding-top:5px;">Sign in</h1>

        <input class = "input" type="text" name="uid" placeholder="Username"  style="  
              border: 3px solid #2e466e;
              margin-top:35px;
              margin-left:150px;
              font-size: 20px;
              height: 35px;
              width: 390px;
              border-radius: 5px;">
         </br>

        <input class = "input" type="text" name="mail" placeholder="E-mail"  style="  
              border: 3px solid #2e466e;
              margin-top:25px;
              margin-left:150px;
              font-size: 20px;
              height: 35px;
              width: 390px;
              border-radius: 5px;">
          </br>

        <input class = "input" type="password" name="pwd" placeholder="Password"  style="  
              border: 3px solid #2e466e;
              margin-top:25px;
              margin-left:150px;
              font-size: 20px;
              height: 35px;
              width: 390px;
              border-radius: 5px;">
        </br>
        <br>
        <a href="#" style = "
              margin-left:265px;
              ">Forgot your password?</a>
        
        <br>
        <button class = "loginbutton" type="submit" style ="
            border-radius: 20px;
        	border: 1px solid #FFFFF;
        	background-color: #120D31;
        	margin-left:275px;
        	margin-top:50px;
        	color: #FFFFFF;
        	font-size: 12px;
        	font-weight: bold;
        	padding: 12px 45px;
        	letter-spacing: 1px;
        	text-transform: uppercase;">Login</button>
    </form>
    <img src="Node/views/img/mobile.jpg" alt="mobile" style = "
    margin-left:35px;
    ">
    
    </div>
</div>

    























  </body>
</html>